<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<ThresholdFilter level="INFO" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %-5level%logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFileInfo"
			fileName="${sys:user.home}/.eDAL/eDAL_INFO.log"
			filePattern="eDAL_INFO-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %c{-3} : %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="60" />
		</RollingFile>
		<RollingFile name="RollingFileError"
			fileName="${sys:user.home}/.eDAL/eDAL_ERROR.log"
			filePattern="eDAL_ERROR-%d{yyyy-MM-dd}.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %c{-3} : %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
			<DefaultRolloverStrategy max="60" />
		</RollingFile>
	</appenders>
	<loggers>
		<Logger name="org.quartz" level="ERROR">
			<AppenderRef ref="RollingFileError" />
		</Logger>
		<Logger name="org.hibernate" level="ERROR">
			<AppenderRef ref="RollingFileError" />
		</Logger>
		<Logger name="org.ehcache" level="ERROR">
			<AppenderRef ref="RollingFileError" />
		</Logger>
		<Logger name="org.eclipse.jetty" level="ERROR">
			<AppenderRef ref="RollingFileError" />
		</Logger>
		<Logger name="com.mchange" level="ERROR">
			<AppenderRef ref="RollingFileError" />
		</Logger>
		<Logger name="com.healthmarketscience" level="ERROR">
			<AppenderRef ref="RollingFileError" />
		</Logger>
		<Logger name="IndexWriterThread" level="INFO">
			<AppenderRef ref="RollingFileInfo" />
		</Logger>
		<Logger name="eDAL-API" level="INFO" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFileInfo" />
		</Logger>
		<Logger name="eDAL-Server" level="INFO" additivity="false">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFileInfo" />
		</Logger>
		<root level="INFO">
			<appender-ref ref="RollingFileInfo" />
		</root>
	</loggers>
</configuration>