html {
    position: relative;
    min-height: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
  	font-weight: 400;
}

header {
    height:90px;
    z-index:99;
}

div.row.header > div {
    height:80px;
    vertical-align:middle;
    padding-top:15px;
}

nav {
	background: white !important;
    border-bottom: 1px solid rgb(125, 125, 125);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.15);
    height:83px;
    z-index:100;
    position: relative;
}


a.edal-report-year-filter {
    padding-top:1px;
    padding-bottom:1px;
}

#edal-report-export-container a.btn {
    padding-top:1px;
    padding-bottom:1px;
}



#edal-report-title-long {
    font-size:1.4rem;
    padding-top: 25px;
}

#edal-report-title-short {
    font-size:1.2rem;
}

@media (max-width: 1050px) {
    #edal-report-title-long {
        display:none;
    }
    #edal-report-title-short {
        display: flex;
    }
}

@media (min-width: 1051px) {
    #edal-report-title-long {
        display:block;
    }
    #edal-report-title-short {
        display:none;
    }
}

tr {
  height: 35px;
}
table.dataTable tbody td {
  vertical-align: middle;
}

th.dt-center, td.dt-center {
  text-align: center;
  vertical-align: middle;
 }

table#report {
    border-bottom:2px solid rgb(230, 230, 230);
}

table#report tr td {
    font-size:90%;
    padding-top:1px;
    padding-bottom:1px;
    vertical-align: middle;
}



table#report tr td.edal-report-title {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

table#report tr td.edal-report-doi {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

@supports ( -moz-appearance:none ){
    table#report tr td.edal-report-doi {
        max-width: none;
      }
}

#table-column{
  grid-column-start: 2;
  grid-row-start: 2;
}

#result-stats{
  display: table-cell;
  vertical-align: middle;
  float:right;
  color:#70757a;
  font-size:medium;
}


div#edal-report-filter{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  height:100%;
  max-width:100%;
  overflow-y: scroll;
  overflow-x: hidden;
  border-right: 1px solid #2596be;
}

#edal-report-table-inner-container{
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-template-rows: 20px 1fr;
  height: 100%;
}

div#report_wrapper {
    height: 100%;
    box-sizing: border-box;
    margin-bottom:25px;
}
div.dataTables_scroll {
    height: 100%;
    box-sizing: border-box;
}
div.dataTables_scrollBody {
    height: calc(100% - 42px); /* fixes additional height of the datatables header */
    box-sizing: border-box;

}

@media (max-width: 850px) {
    div.dataTables_scrollBody {
        height: calc(100% - 67px);
    }
}



#grid-container {
    display: grid;
    grid-template-rows: 83px auto 1fr auto;
    grid-template-columns: 1fr;
    height: 100vh;
}

#grid-container-table-and-map {
    /*display: block;
    height: 50%;
    overflow-y: auto;*/
}


div#map-container {
    display: none;
    height: 300px;
    width:100%;
    border-top: 1px solid rgb(150, 150, 150);
}

footer {
    background-color: #f5f5f5;
    font-size:80%;
    text-align:center;
    box-shadow: 0px -4px 7px rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgb(200, 200, 200);
    padding:8px 0 8px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

@supports (display: grid) {
    #grid-container-table-and-map {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        min-height:0;
        min-width:0;
    }

    div#map-container {
        height:300px;
        border-top: 1px solid rgb(150, 150, 150);
        position:relative;
    }

    footer {
        position: relative;
    }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #grid-container-table-and-map {
        display: block;
        height: 50%;
        overflow-y: auto;
    }
    div#map-container {
        position: fixed;
        height: 20%;
        bottom: 40px;
        left: 0;
        z-index: 111;
    }
}





#controls {
    background: url(../LOGO/header_bg2.png) 0px -150px, linear-gradient(to bottom, rgba(0, 179, 244, 1) 0%, rgba(0, 155, 216, 1) 100%);
    background-position: center 21%;
}

#edal-report-filter-container {
    display:inline-block;
    color:white;
    margin-top: 3px;
}

#edal-report-export-container {
    display:inline-block;
    color:white;
}

#edal-report-search-container {
    float:right;
    display:inline-block;
}

@media (max-width: 1050px) {
    #edal-report-search-container {
        padding-top:10px;
        float:none;
        display:block;
        width:350px;
    }
}

@media (max-width: 850px) {
    #edal-report-export-container {
        display:block;
        margin-top:10px;
    }
}








/*
@media (max-width: 600px) {
    #logo-ipk {
        height: 42px;
        margin-top: 2px;
    }
    #logo-edal {
        height: 36px;
        margin-top: 0px;
    }
    header {
        height: 70px;
    }
    div.row.header {
        height: 60px;
    }
    div.row.header > div {
        height: 60px;
    }
    nav {
        height: 63px;
    }
    #grid-container {
        grid-template-rows: 63px auto 1fr auto;
    }
    a.edal-report-year-filter {
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 0.7rem;
    }
    div#edal-report-export-container > a {
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 0.7rem;
    }
    #edal-detail-quote-container > span {
        font-size: 0.80rem;
    }
    footer {
        font-size: 0.6rem;
    }
    div#controls span.h2 {
        font-size: 1.6rem;
    }
    div#controls span.h6 {
        font-size: 0.8rem;
    }
    #edal-report-filter-container > span {
        font-size: 0.85rem;
    }
    #edal-report-export-container > span {
        font-size: 0.85rem;
    }
}
*/


@media (max-width: 600px) ,  only screen and (max-width: 400px) and (orientation : portrait) {
    #logo-ipk {
        height: 42px;
        margin-top: 2px;
    }
    #logo-edal {
        height: 36px;
        margin-top: 0px;
    }
    header {
        height: 70px;
    }
    div.row.header {
        height: 60px;
    }
    div.row.header > div.col-auto {
        height: 60px;
        padding-top: 0px;
        line-height: 1.0em;
        display: flex;
        align-items: center;
    }
    nav {
        height: 63px;
    }
    #grid-container {
        grid-template-rows: 63px auto 1fr auto;
    }
    a.edal-report-year-filter, #edal-report-export-container > a {
        padding-top: 1px;
        padding-bottom: 1px;
        font-size: 0.7rem;
    }
    #edal-report-export-container > span, #edal-report-filter-container > span {
        font-size: 0.80rem;
    }
    #edal-report-title-short {
        font-size: 0.9rem;
    }
    div#controls span.h2 {
        font-size: 1.6rem;
    }
    div#controls span.h6 {
        font-size: 0.8rem;
    }
}

.creation-label {
  grid-row-start: 2;
  grid-row-end: 3;
  font-weight: normal;
}

.datepickerlowcontainer{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  width:95%;
}

.datepickerhighcontainer{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  width:90%;
}

#datepickerlow {
  font-weight: normal;
}

#datepickerhigh {
}

.filetypelabel {
  grid-row-start: 5;
  grid-row-end: 6;
  font-weight: normal;
}

.filetypeinput{
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  font-weight: normal;
  width: 90%;
}

.centerclass{
  max-height: 50px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}


.hittypelabel{
  grid-row-start: 1;
  grid-row-end: 2;
  font-weight: normal;
  display: inline-block;
  align-self: flex-end;
}

.hittypeinput{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 4;
  font-weight: normal;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

#radioContainer{
  margin: 0 auto;
  width: auto;
  text-align: left;
  display: table;
}

.halfinput{
  width:50%;
}

.filesizelabel{
  grid-row-start: 7;
  grid-row-end: 8;
  font-weight: normal;
}

.filesizeinputs{
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 4;
  font-weight: normal;
  width: 90%;
}

.facetedContainer{
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
}

#edal-report-filter::-webkit-scrollbar{
  width: 5px;
}

#edal-report-filter::-webkit-scrollbar{
  height: 5px;
}

#edal-report-filter::-webkit-scrollbar-track{
  background: #f9f9f9;
}
#edal-report-filter::-webkit-scrollbar-thumb{
  border-radius: 8px;
  background: #00b3db;
}

.facetedContainer.button-thumb{
  height:40px;
}

.filesizeinputnumbers{
  display:flex;
}

.ui-datepicker {
  height: auto;
  margin: 5px auto 0;
  font: 9pt Arial, sans-serif;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: url('20fed66c2bb51531210bff6a560cf13b.jpg') repeat 0 0 #000;
  color: #e0e0e0;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 2);
  -moz-box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev,
.ui-datepicker-next {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.ui-datepicker-prev {
  float: left;
  background-position: center -30px;
}

.ui-datepicker-next {
  float: right;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #f1f1f1));
  background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -o-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: -ms-linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  background-image: linear-gradient(top, #f7f7f7 0%, #f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#f1f1f1', GradientType=0);
  border-bottom: 1px solid #bbb;
}

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 6pt;
  padding: 5px 0;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid #bbb;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=1);
}

.ui-datepicker-calendar .ui-state-default {
  background: #ededed;
  background: -moz-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #dedede));
  background: -webkit-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -o-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: -ms-linear-gradient(top, #ededed 0%, #dedede 100%);
  background: linear-gradient(top, #ededed 0%, #dedede 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dedede', GradientType=0);
  -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
  box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #f7f7f7;
}

.ui-datepicker-calendar .ui-state-active {
  background: #6eafbf;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  filter: dropshadow(color=#4d7a85, offx=0, offy=1);
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}

@media (max-width: 800px) {
    footer {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 400px) and (orientation : portrait) {

    #logo-ipk {
        height: 34px;
        margin-top: 2px;
    }
    #logo-edal {
        height: 28px;
        margin-top: 0px;
    }

    /*div.row.header > div {
        border: 1px solid blue;
    }*/
    #edal-detail-title-short {
        font-size: 0.7rem;
    }

    #edal-report-title-short {
        font-size: 0.8rem;
    }
}

/* loading ellipsis used in search template */

.lds-ellipsis {
}
.lds-ellipsis div {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.clearable{
  background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
  border: 1px solid #999;
  border-radius: 20px;
  transition: background 0.4s;
}
.clearable:hover{
  box-shadow: 1px 1px 8px 1px #0b81ae;
}
.clearable.x  { background-position: right 5px center; } /* (jQ) Show icon */
.clearable.onX{ cursor: pointer; } /* (jQ) hover cursor style */
.clearable::-ms-clear {display: none; width:0; height:0;} /* Remove IE default X */

.left{
  float:left;
}

.collapsible {
  border: none;
  text-align: left;
  outline: none;
}

.faceted-Button{
  cursor:pointer;
  transition: all .2s ease;
}

.faceted-Button:hover, .faceted-Button:focus, .faceted-Button:active {
    color: white;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}
.builder-Button{
  transition: all .2s ease;
}

.builder-Button:hover{
  cursor: pointer;
  color: black;
  background-color: #f9f9f9;
  border-color: black;
}

/* Style the collapsible content. Note: hidden by default */
#collapsible-content {
  display: none;
  overflow: hidden;
  padding-top:6px;
}

#myModal{
  justify-content: center;
  align-items: center;
}

/* Modal Header */
.modal-header {
  padding: 2px 6px;
  background-color: #08acec;
  color: white;
  text-shadow:2px
}

#modal-headline{
  font-size: 14px;
  font-size: 1.2vw;
}

/* Modal Body */
.modal-body {
  padding: 2px 6px;
}

.list-group li:hover{
  background-color: #dfe6e9;
}

.list-group li:hover{
  cursor:pointer;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 20%;
  min-width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
  text-align: justify;
  text-overflow: ellipsis;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}


/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.decoration-underline:hover{
  text-decoration: underline;
  cursor:pointer;
}
