/* CSS Tree menu styles */
ol.tree {
	padding: 0 0 0 30px;
	width: auto;
}

li {
	position: relative;
	margin-left: -15px;
	list-style: none;	
}

li.folder {
	position: relative;
	margin-left: -15px;
	margin-bottom: -3px;
	list-style: none;	
}

li.file {
	margin-left: -1px !important;
}

li.file a {
	background: url(../FILEICONS/document.png) 0 0 no-repeat;
	padding-left: 21px;
	text-decoration: none;
	display: block;
}

li.file a[href*='.pdf'] {
	background: url(../FILEICONS/document.png) 0 0 no-repeat;
}

li.file a[href*='.html'] {
	background: url(../FILEICONS/document.png) 0 0 no-repeat;
}

li.file a[href$='.css'] {
	background: url(../FILEICONS/document.png) 0 0 no-repeat;
}

li.file a[href$='.js'] {
	background: url(../FILEICONS/document.png) 0 0 no-repeat;
}

li.myfile {
	margin-left: -1px !important;
}

li.myfile a {
	background: url(../FILEICONS/document.png) 27px 0 no-repeat;
	padding-left: 50px;
	text-decoration: none;
}
li.myfile a[href*='/DOWNLOAD'] {
	background: none;
	padding-left: 5px;
	text-decoration: none;
}
li.myfile a[id*='.html'] {
	background: url(../FILEICONS/html.png) 25px 0 no-repeat;
}
li.myfile a[id*='.css'] {
	background: url(../FILEICONS/css.png) 25px 0 no-repeat;
}
li.myfile a[id*='.pdf'] {
	background: url(../FILEICONS/pdf.png) 25px 0 no-repeat;
}
li.myfile a[id*='.js'] {
	background: url(../FILEICONS/js.png) 25px 0 no-repeat;
}
li.myfile a[id*='.zip'] {
	background: url(../FILEICONS/zip.png) 25px 0 no-repeat;
}
li.myfile a[id*='.png'] {
	background: url(../FILEICONS/png.png) 25px 0 no-repeat;
}
li.myfile a[id*='.jar'] {
	background: url(../FILEICONS/jar.png) 25px 0 no-repeat;
}
li.myfile a[id*='.iso'] {
	background: url(../FILEICONS/iso.png) 25px 0 no-repeat;
}
li.myfile a[id*='.txt'] {
	background: url(../FILEICONS/txt.png) 25px 0 no-repeat;
}
li.myfile a[id*='.jpg'] {
	background: url(../FILEICONS/jpg.png) 25px 0 no-repeat;
}
li.myfile a[id*='.xls'] {
	background: url(../FILEICONS/xls.png) 25px 0 no-repeat;
}
li.myfile a[id*='.xml'] {
	background: url(../FILEICONS/xml.png) 25px 0 no-repeat;
}
li.myfile a[id*='.rar'] {
	background: url(../FILEICONS/rar.png) 25px 0 no-repeat;
}
li.myfile a[id*='.csv'] {
	background: url(../FILEICONS/csv.png) 25px 0 no-repeat;
}


label.parent a {
	background: url(../FILEICONS/folderup.png) 0px 0px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 20px;
}

li input {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

li input+ol {
	background: url(../FILEICONS/toggle-small-expand.png) 40px 0px no-repeat;
	margin: -1.65em 0 0 -44px; /* 15px */
	height: 1.2em;
}

li input+ol>li {
	display: none;
	margin-left: -14px !important;
	padding-left: 1px;
}

li label {
	background: url(../FILEICONS/folder-horizontal.png) 40px 2px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 62px;
}

li input:checked+ol {
	background: url(../FILEICONS/toggle-small.png) 40px 0px no-repeat;
	margin: -1.65em 0 0 -44px; /* 20px */
	padding: 1.563em 0 0 80px;
	height: auto;
}

li input:checked+ol>li {
	display: block;
	margin: 0 0 0.125em; /* 2px */
}

li input:checked+ol>li:last-child {
	margin: 0 0 0.063em; /* 1px */
}