/* CSS Tree menu styles */
ol.tree {
	padding: 0 0 0 30px;
	width: auto;
}

li {
	position: relative;
	margin-left: -15px;
	list-style: none;	
}

li.folder {
	position: relative;
	margin-left: -15px;
	margin-bottom: -3px;
	list-style: none;	
}

/*li.file {
	margin-left: -1px !important;
}*/

li.myfile {
	margin-left: -1px !important;
}


li.myfile a[href*='/DOWNLOAD'] {
	background: none;
	padding-left: 5px;
	text-decoration: none;
}

li.myfile:before {
  	 font-family: 'FontAwesome';
     top: 0;
     padding-left: 31px;
     content: "\f016";
}
li.myfile.pdf:before {
  	 font-family: 'FontAwesome';
     content: "\f1c1";
}
li.myfile.jpg:before,li.myfile.png:before,li.myfile.bmp:before {
  	 font-family: 'FontAwesome';
     content: "\f1c5";
}
li.myfile.txt:before,li.myfile.xml:before,li.myfile.csv:before,li.myfile.js:before {
  	 font-family: 'FontAwesome';
     content: "\f0f6";
}
li.myfile.zip:before,li.myfile.jar:before,li.myfile.rar:before,li.myfile.iso:before {
  	 font-family: 'FontAwesome';
     content: "\f1c6";
}
li.myfile.xls:before,li.myfile.xsx:before,li.myfile.xlsx:before {
  	 font-family: 'FontAwesome';
     content: "\f1c3";
}
li.myfile.doc:before,li.myfile.docx:before,li.myfile.dot:before {
  	 font-family: 'FontAwesome';
     content: "\f1c2";
}
li.myfile.html:before,li.myfile.css:before,li.myfile.js:before {
  	 font-family: 'FontAwesome';
     content: "\f1c9";
}

/****** FOLDER-UP ICON START ******/
label.parent a {
	cursor: pointer;
	display: block;
	padding-left: 0px;
}
label.parent a:before {
  	font-family:FontAwesome;
    top: 0;
    left: 30px;
    content: '\f07c';
}
/****** FOLDER-UP ICON END ******/
li input {
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

li input+ol {
	background: url(toggle-small-expand.png) 40px 0px no-repeat;
	margin: -1.65em 0 0 -44px; /* 15px */
	height: 1.2em;
}

li input+ol>li {
	display: none;
	margin-left: -14px !important;
	padding-left: 1px;
}
/****** FOLDER ICON START ******/
li label {
	cursor: pointer;
	display: block;
	padding-left: 62px;
}
li label:before{
	position: absolute;
  	font-family:FontAwesome;
    top: 0;
    left: 44px;
    content: '\f07b';
}
/****** FOLDER ICON END ******/

li input:checked+ol {
	background: url(toggle-small.png) 40px 0px no-repeat;
	margin: -1.65em 0 0 -44px; /* 20px */
	padding: 1.563em 0 0 80px;
	height: auto;
}

li input:checked+ol>li {
	display: block;
	margin: 0 0 0.125em; /* 2px */
}

li input:checked+ol>li:last-child {
	margin: 0 0 0.063em; /* 1px */
}